!!!
%html
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %meta{:content => "width=device-width, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    %meta{:name => "keywords", :content => "Lungo, Lungo.js"}
    %meta{:name => "description", :content => "Lungo, Lungo.js, javascript"}
    %title Lungo.js
  %body
    %h1 Lungo.js
      %a{:href => "http://www.lungojs.com"} Lungo.js
