!!!
%html
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %meta{:content => "width=device-width, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    %meta{:name => "keywords", :content => ""}
    %meta{:name => "description", :content => ""}
    %title Llegeix me
  %body
    %h1 Llegeix me
    %ul
      %li
        %a{:href => "/el/blog"} Blog
      %li
        %a{:href => "/el/blogdelpa"} El blog d' "el Pa"
      %li
        %a{:href => "/el/blogdelpan"} El blog de "el Pan"
